{{!< main}}

{{#contentFor head}}
<style type="text/css">
.header { navbar: #00f; }
</style>
{{/contentFor}}

<div class="container">
  <div class="row map-row">
    <div class="col-md-12">
      <h4>Map for {{map.type}}</h4>
    </div>
  </div>
</div>
